<section *ngIf="quizDataService.quizQuestions">
  <div
    class="question-container"
    *ngFor="let questionData of quizDataService.quizQuestions"
  >
    <p class="question-text" [innerHTML]="questionData.question"></p>
    <ul
      class="d-flex"
      [ngClass]="{
        'disabled-mode': quizDataService.mode === QuizModeEnum.RESULTS
      }"
    >
      <li
        *ngFor="let ans of questionData.allAnswers; let i = index"
        [innerHTML]="ans"
        (click)="setSelectionDetails(questionData, ans, i)"
        class="question-answer"
        [ngClass]="setCellColor(questionData, ans, i)"
      ></li>
    </ul>
  </div>
</section>
