@import '../../shared/app-mixins';

.container {
  form {
    display: flex;

    select {
      padding: 7px;
      border-radius: 0;
      width: 40%;

      &:first-child {
        border-start-start-radius: 5px;
        border-end-start-radius: 5px;
        width: 50%;
      }
    }

  }
  
  .button {
    &-create {
      background: white;
      border: 1px solid lightblue;
      color: blue;
      padding: 8px 18px;
      cursor: pointer;
      border-start-end-radius: 5px;
      border-end-end-radius: 5px;
    }

    &-submit {
      @include action-buttons();
      border-color: darkblue;
      background-color: darkblue;
    }
  }
}
