.final-count {
  text-align: center;
  margin: 10px 20%;
}

.fail {
  background-color: red;
}

.average {
  background-color: yellow;
}

.pass {
  background-color: green;
  color: white;
}